.my-input {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: var(--letter-spacing);
    color: #2B2A29;
    background-color: #FFF;
    padding: 12px;
}

.my-input::placeholder {
    color: #2B2A29;
}

.my-input.--no-bg {
    background-color: transparent;
}

.my-input.--circle-border {
    border-radius: 30px;
}

.my-input.--border-white {
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.my-input.--border-white::placeholder {
    color: var(--color-white);
}

.my-input.--border-bottom-white {
    border-bottom: 1px solid var(--color-white);
    color: var(--color-white);
}

.my-input.--border-bottom-white::placeholder {
    color: var(--color-white);
}

.my-input.--size-xl {
    padding: 18.5px 18px;
    font-size: 23px;
    line-height: 32;
}

.my-input.--size-l {
    padding: 16px 28px;
    font-size: 18px;
    line-height: 28px;
}

.my-input.--size-m {
    padding: 16px 30px;
}

.my-input.--size-m.--border-white {
    padding: 15.2px 30px;
}

@media (max-width: 1581px) {
    .my-input.--size-xl {
        padding: 16px 16px 16px 0px;
        font-size: 21px;
    }
}

@media (max-width: 1320px) {
    .my-input.--size-xl {
        padding: 16px 16px 16px 0px;
        font-size: 21px;
    }
}

@media (max-width: 991px) {
    .my-input.--size-m {
        padding: 15px 30px;
    }

    .my-input.--size-m.--border-white {
        padding: 14.2px 30px;
    }
}

@media (max-width: 769px) {
    .my-input {
        line-height: 1.2;
    }

    .my-input.--size-xl {
        font-size: 20px;
        line-height: 1.2;
    }

    .my-input.--size-l {
        padding: 13px 24px;
    }

    .my-input.--size-m {
        padding: 15.4px 25px;
    }

    .my-input.--size-m.--border-white {
        padding: 14.6px 25px;
    }
}

@media (max-width: 575px) {
    .my-input.--size-xl {
        padding: 12px 12px 12px 0px;
        font-size: 18px;
    }

    .my-input.--size-l {
        padding: 13px 20px;
    }

    .my-input.--size-m {
        padding: 15.4px 20px;
    }

    .my-input.--size-m.--border-white {
        padding: 14.6px 20px;
    }
}