.catalog {
    padding-top: 0;
}

.catalog header h1 {
    margin-bottom: 0;
}

.catalog__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.catalog__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 40px 20px;
}


@media (max-width: 1581px) {
    .catalog__cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1320px) {
    .catalog__content {
        gap: 50px;
    }

    .catalog__cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 20px;
    }
}

@media (max-width: 991px) {
    .catalog__content {
        gap: 55px;
    }

    .catalog__cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
    }
}

@media (max-width: 769px) {}

@media (max-width: 575px) {
    .catalog__cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        grid-auto-rows: auto;
    }
}

@media (max-width: 420px) {
    .catalog__content {
        gap: 60px;
    }
}