.feedback-form {}

.feedback-form__container {
    position: relative;
    overflow: hidden;
}

.feedback-form__inner {
    background-image: url('../../../assets/images/components/feedback-form/bg-image.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 66px 100px;
    gap: 46px;
    justify-content: space-between;
}

.feedback-form__content {
    max-width: 728px;
}

.feedback-form__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 28px;
    color: var(--color-white);
    letter-spacing: -.02em;
}

.feedback-form__pre-title {
    font-size: 27px;
    line-height: 35px;
    letter-spacing: -.02em;
    color: var(--color-white);
}

.feedback-form__img-wrap {
    position: absolute;
    bottom: 0;
    left: 120px;
    max-width: 710px;
    height: 650px;
}

.feedback-form__decor-elem {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    display: inline-block;
}

.feedback-form__decor-elem span {
    font-family: "MontserratAlternates";
    font-size: 45px;
    color: var(--color-darkGreen);
}

.feedback-form__decor-elem:nth-of-type(1) {
    top: 286px;
    right: 33px;
}

.feedback-form__decor-elem:nth-of-type(2) {
    bottom: 122px;
    right: 370px;
}

.feedback-form__decor-elem-inner {
    display: flex;
    align-items: center;
    gap: 14px;
    overflow: hidden;
    padding: 14px 20px;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 13px;
}

.feedback-form__decor-elem-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    z-index: -1;
}

.feedback-form__form {
    gap: 36px;
    max-width: 612px;
}

.feedback-form__fields {
    gap: 28px;
}

.recapcha {
    max-width: 346px;
}

@media (max-width: 1581px) {
    .feedback-form__img-wrap {
        left: -28px;
        max-width: 670px;
        height: 610px;
    }

    .feedback-form__decor-elem-inner {
        padding: 12px 17px;
    }

    .feedback-form__decor-elem:nth-of-type(1) {
        top: 245px;
        right: -7px;
    }

    .feedback-form__decor-elem:nth-of-type(2) {
        bottom: 122px;
        right: 278px;
    }
}

@media (max-width: 1321px) {
    .feedback-form__inner {
        padding: 60px 40px 75px;
        overflow: hidden;
        position: relative;
    }

    .feedback-form__decor-elem {
        font-size: 16px;
    }

    .feedback-form__decor-elem span {
        font-size: 38px;
    }

    .feedback-form__decor-elem-inner {
        gap: 10px;
    }

    .feedback-form__decor-elem:nth-of-type(1) {
        top: 122px;
        right: -43px;
    }

    .feedback-form__decor-elem:nth-of-type(2) {
        bottom: 122px;
        right: 158px;
    }

    .feedback-form__title {
        font-size: 42px;
        letter-spacing: -.0;
    }

    .feedback-form__pre-title {
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0;
    }

    .feedback-form__fields {
        gap: 24px;
    }

    .feedback-form__form {
        gap: 30px;
        max-width: 500px;
    }

    .feedback-form__img-wrap {
        left: -76px;
        max-width: 503px;
        height: 462px;
    }
}

@media (max-width: 992px) {
    .feedback-form__inner {
        flex-direction: column;
        padding: 60px 50px 600px;
    }

    .feedback-form__decor-elem:nth-of-type(1) {
        top: 100px;
        right: -120px;
    }

    .feedback-form__decor-elem:nth-of-type(2) {
        bottom: 122px;
        right: 140px;
    }

    .feedback-form__title {
        font-size: 48px;
    }

    .feedback-form__img-wrap {
        left: -38px;
        max-width: 600px;
        height: 543px;
    }

    .feedback-form__form {
        gap: 40px;
        max-width: none;
    }
}

@media (max-width: 769px) {
    .feedback-form__inner {
        padding: 45px 40px 600px;
        gap: 40px;
    }

    .feedback-form__img-wrap {
        height: auto;
    }

    .feedback-form__decor-elem-inner {
        padding: 10px 15px;
    }

    .feedback-form__decor-elem {
        font-size: 12px;
    }

    .feedback-form__decor-elem span {
        font-size: 30px;
    }

    .feedback-form__decor-elem:nth-of-type(1) {
        top: 133px;
        right: 87px;
    }

    .feedback-form__decor-elem:nth-of-type(2) {
        bottom: 140px;
        right: 304px;
    }

    .feedback-form__title {
        font-size: 36px;
        margin-bottom: 24px;
    }

    .feedback-form__pre-title {
        font-size: 22px;
        line-height: 1.2;
        letter-spacing: 0;
    }
}

@media (max-width: 575px) {
    .feedback-form__inner {
        padding: 40px 30px 450px;
        position: relative;
        gap: 35px;
    }

    .feedback-form__title {
        font-size: 31px;
    }

    .feedback-form__pre-title {
        font-size: 18px;
    }

    .feedback-form__form {
        gap: 35px;
    }

    .feedback-form__fields {
        gap: 20px;
    }


    .feedback-form__img-wrap {
        max-width: 490px;
        left: -69px;
    }

    .feedback-form__decor-elem-inner {
        padding: 6.2px 11px;
        gap: 7px;
        border-radius: 8px;
    }

    .feedback-form__decor-elem {
        font-size: 12px;
    }

    .feedback-form__decor-elem span {
        font-size: 26px;
    }

    .feedback-form__decor-elem:nth-of-type(1) {
        top: 148px;
        right: 34px;
    }

    .feedback-form__decor-elem:nth-of-type(2) {
        bottom: 140px;
        right: 116px;
    }
}

@media (max-width: 420px) {
    .feedback-form__inner {
        padding: 30px 20px 318px;
        position: relative;
        gap: 30px;
    }

    .feedback-form__title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .feedback-form__pre-title {
        font-size: 14px;
    }

    .feedback-form__form {
        gap: 30px;
    }

    .feedback-form__img-wrap {
        max-width: 339px;
        left: -84px;
    }

    .feedback-form__decor-elem {
        font-size: 10px;
    }

    .feedback-form__decor-elem span {
        font-size: 23px;
    }

    .feedback-form__decor-elem:nth-of-type(1) {
        top: 118px;
        right: 10px;
    }

    .feedback-form__decor-elem:nth-of-type(2) {
        bottom: 99px;
        right: 10px;
    }
}