.reviews {}

.reviews__title {}

.reviews__slider {
    padding-top: 40px;
}

.reviews__slider>.swiper {
    overflow: hidden;
    padding: 0px 36px;
}

.reviews__swiper>.swiper-wrapper {
    align-items: center;
}

@media (min-width: 992px) {
    .reviews__swiper>.swiper-wrapper>.swiper-slide {
        width: 568px !important;
        transition: transform 0.2s ease;
    }

    .reviews__swiper>.swiper-wrapper>.swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.736);
    }

    .reviews__slide,
    .reviews__slide-inner,
    .reviews__slide-body {
        transition: none !important;
    }

    .swiper-slide-next,
    .swiper-slide-duplicate-next {
        transform-origin: 0% 50%;
    }

    .swiper-slide-prev,
    .swiper-slide-duplicate-prev {
        transform-origin: 100% 50%;
    }
}

.reviews__slide {
    padding: 40px 36px 30px;
    background-color: var(--color-white);
    transition: none !important;
}

.reviews__slide-inner {
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.reviews__slide-body {
    display: flex;
    gap: 31px;
}

.reviews__slide-avatar {
    max-width: 170px;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.reviews__slide-desc {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 65%;
}

.reviews__slide-title {
    font-weight: 700;
}

.reviews__slide-ratimg {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.reviews__slide-texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reviews__slide-stars {}

.reviews__gallery {}

.reviews__gallery .swiper {}

.reviews__gallery .swiper-slide {
    border-radius: 18px;
    overflow: hidden;
    aspect-ratio: 161 / 113;
}

.reviews__gallery .swiper-slide img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1581px) {}

@media (max-width: 1320px) {}

@media (max-width: 991px) {}

@media (max-width: 769px) {}

@media (max-width: 575px) {}