.reviews {}

.reviews__title {}

.reviews__slider {
    padding-top: 40px;
    position: relative;
}

.reviews__slider>.swiper {
    overflow: hidden;
    padding: 0px 36px;
}

.reviews__swiper>.swiper-wrapper {
    align-items: center;
}

@media (min-width: 1321px) {

    .reviews__slide,
    .reviews__slide-inner,
    .reviews__slide-body {
        transition: none !important;
    }

    .swiper-slide-next,
    .swiper-slide-duplicate-next {
        transform-origin: 0% 50%;
    }

    .swiper-slide-prev,
    .swiper-slide-duplicate-prev {
        transform-origin: 100% 50%;
    }

    .reviews__swiper>.swiper-wrapper>.swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.664);
    }

    .reviews__swiper>.swiper-wrapper>.swiper-slide {
        width: 490px !important;
    }

    .reviews__swiper-nav {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width: 1380px) {
    .reviews__swiper>.swiper-wrapper>.swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.7);
    }
}

@media (min-width: 1581px) {
    .reviews__swiper>.swiper-wrapper>.swiper-slide {
        width: 568px !important;
    }

    .reviews__swiper>.swiper-wrapper>.swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.736);
    }
}

.reviews__swiper>.swiper-wrapper>.swiper-slide {
    transition: transform 0.2s ease;
}

.reviews__slide {
    padding: 40px 36px 30px;
    background-color: var(--color-white);
    transition: none !important;
}

.reviews__slide-inner {
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.reviews__slide-body {
    display: flex;
    gap: 31px;
}

.reviews__slide-avatar-wrap-img {
    max-width: 170px;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.reviews__slide-desc {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 65%;
}

.reviews__slide-title {
    font-weight: 700;
}

.reviews__slide-ratimg {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.reviews__slide-texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reviews__slide-stars {
    display: inline-flex;
    width: 257px;
    height: 37px;
    position: relative;
}

.reviews__slide-stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg width="257" height="37" viewBox="0 0 257 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.58203 0.655273C14.132 0.655284 24.1783 2.31714 32.0078 6.91406C40.1129 11.6727 45.8193 19.6267 45.8193 31.3232C45.8193 32.3613 45.5087 33.3221 44.9824 34.1104C38.8157 28.205 28.5278 19.6207 15.8213 12.8281L14.459 12.1113L14.3662 12.0693C13.8948 11.8832 13.3492 12.0811 13.1113 12.541C12.8738 13.0009 13.0279 13.5599 13.4521 13.8369L13.541 13.8887L14.8799 14.5928C27.3484 21.2583 37.4684 29.6903 43.5469 35.5039C42.8685 35.9233 42.0799 36.165 41.2373 36.165C31.6874 36.165 21.6412 34.5032 13.8115 29.9062C5.70662 25.1476 0 17.1936 0 5.49707C0.000246029 2.823 2.05167 0.655273 4.58203 0.655273Z" fill="%23A9A9A9"/><path d="M57.2742 0.655273C66.8241 0.655284 76.8705 2.31714 84.7 6.91406C92.805 11.6727 98.5115 19.6267 98.5115 31.3232C98.5114 32.3613 98.2008 33.3221 97.6746 34.1104C91.5078 28.205 81.22 19.6207 68.5134 12.8281L67.1511 12.1113L67.0583 12.0693C66.5869 11.8832 66.0413 12.0811 65.8035 12.541C65.566 13.0009 65.72 13.5599 66.1443 13.8369L66.2332 13.8887L67.572 14.5928C80.0405 21.2583 90.1606 29.6903 96.239 35.5039C95.5607 35.9233 94.772 36.165 93.9294 36.165C84.3795 36.165 74.3333 34.5032 66.5037 29.9062C58.3988 25.1476 52.6921 17.1936 52.6921 5.49707C52.6924 2.823 54.7438 0.655273 57.2742 0.655273Z" fill="%23A9A9A9"/><path d="M109.985 0.910156C119.572 0.910167 129.658 2.54817 137.519 7.0791C145.656 11.7695 151.385 19.6093 151.385 31.1379C151.384 32.161 151.073 33.108 150.544 33.885C144.353 28.0644 134.025 19.6034 121.268 12.9083L119.901 12.2018L119.807 12.1604C119.334 11.9769 118.786 12.172 118.548 12.6253C118.309 13.0785 118.464 13.6295 118.89 13.9026L118.979 13.9536L120.323 14.6476C132.841 21.2174 143.001 29.5284 149.103 35.2585C148.422 35.6719 147.63 35.9102 146.784 35.9102C137.197 35.9101 127.111 34.2721 119.251 29.7412C111.114 25.0508 105.385 17.211 105.385 5.68245C105.385 3.04676 107.444 0.910156 109.985 0.910156Z" fill="%23A9A9A9"/><path d="M162.839 0.655273C172.389 0.655284 182.436 2.31714 190.265 6.91406C198.37 11.6727 204.077 19.6267 204.077 31.3232C204.077 32.3613 203.766 33.3221 203.24 34.1104C197.073 28.205 186.785 19.6207 174.079 12.8281L172.716 12.1113L172.624 12.0693C172.152 11.8832 171.607 12.0811 171.369 12.541C171.131 13.0009 171.285 13.5599 171.709 13.8369L171.798 13.8887L173.137 14.5928C185.606 21.2583 195.726 29.6903 201.804 35.5039C201.126 35.9233 200.337 36.165 199.495 36.165C189.945 36.165 179.898 34.5032 172.069 29.9062C163.964 25.1476 158.257 17.1936 158.257 5.49707C158.258 2.823 160.309 0.655273 162.839 0.655273Z" fill="%23A9A9A9"/><path d="M215.55 0.910156C225.137 0.910167 235.223 2.54817 243.084 7.0791C251.221 11.7695 256.95 19.6093 256.95 31.1379C256.95 32.161 256.638 33.108 256.109 33.885C249.918 28.0644 239.59 19.6034 226.833 12.9083L225.466 12.2018L225.373 12.1604C224.899 11.9769 224.352 12.172 224.113 12.6253C223.874 13.0785 224.029 13.6295 224.455 13.9026L224.544 13.9536L225.888 14.6476C238.406 21.2174 248.566 29.5284 254.668 35.2585C253.987 35.6719 253.196 35.9102 252.35 35.9102C242.762 35.9101 232.676 34.2721 224.816 29.7412C216.679 25.0508 210.95 17.211 210.95 5.68245C210.95 3.04676 213.009 0.910156 215.55 0.910156Z" fill="%23A9A9A9"/></svg>');
    background-repeat: no-repeat;
}

.reviews__slide-stars::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg width="257" height="37" viewBox="0 0 257 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.58203 0.655273C14.132 0.655284 24.1783 2.31714 32.0078 6.91406C40.1129 11.6727 45.8193 19.6267 45.8193 31.3232C45.8193 32.3613 45.5087 33.3221 44.9824 34.1104C38.8157 28.205 28.5278 19.6207 15.8213 12.8281L14.459 12.1113L14.3662 12.0693C13.8948 11.8832 13.3492 12.0811 13.1113 12.541C12.8738 13.0009 13.0279 13.5599 13.4521 13.8369L13.541 13.8887L14.8799 14.5928C27.3484 21.2583 37.4684 29.6903 43.5469 35.5039C42.8685 35.9233 42.0799 36.165 41.2373 36.165C31.6874 36.165 21.6412 34.5032 13.8115 29.9062C5.70662 25.1476 0 17.1936 0 5.49707C0.000246029 2.823 2.05167 0.655273 4.58203 0.655273Z" fill="%238FB53E"/><path d="M57.2742 0.655273C66.8241 0.655284 76.8705 2.31714 84.7 6.91406C92.805 11.6727 98.5115 19.6267 98.5115 31.3232C98.5114 32.3613 98.2008 33.3221 97.6746 34.1104C91.5078 28.205 81.22 19.6207 68.5134 12.8281L67.1511 12.1113L67.0583 12.0693C66.5869 11.8832 66.0413 12.0811 65.8035 12.541C65.566 13.0009 65.72 13.5599 66.1443 13.8369L66.2332 13.8887L67.572 14.5928C80.0405 21.2583 90.1606 29.6903 96.239 35.5039C95.5607 35.9233 94.772 36.165 93.9294 36.165C84.3795 36.165 74.3333 34.5032 66.5037 29.9062C58.3988 25.1476 52.6921 17.1936 52.6921 5.49707C52.6924 2.823 54.7438 0.655273 57.2742 0.655273Z" fill="%238FB53E"/><path d="M109.985 0.910156C119.572 0.910167 129.658 2.54817 137.519 7.0791C145.656 11.7695 151.385 19.6093 151.385 31.1379C151.384 32.161 151.073 33.108 150.544 33.885C144.353 28.0644 134.025 19.6034 121.268 12.9083L119.901 12.2018L119.807 12.1604C119.334 11.9769 118.786 12.172 118.548 12.6253C118.309 13.0785 118.464 13.6295 118.89 13.9026L118.979 13.9536L120.323 14.6476C132.841 21.2174 143.001 29.5284 149.103 35.2585C148.422 35.6719 147.63 35.9102 146.784 35.9102C137.197 35.9101 127.111 34.2721 119.251 29.7412C111.114 25.0508 105.385 17.211 105.385 5.68245C105.385 3.04676 107.444 0.910156 109.985 0.910156Z" fill="%238FB53E"/><path d="M162.839 0.655273C172.389 0.655284 182.436 2.31714 190.265 6.91406C198.37 11.6727 204.077 19.6267 204.077 31.3232C204.077 32.3613 203.766 33.3221 203.24 34.1104C197.073 28.205 186.785 19.6207 174.079 12.8281L172.716 12.1113L172.624 12.0693C172.152 11.8832 171.607 12.0811 171.369 12.541C171.131 13.0009 171.285 13.5599 171.709 13.8369L171.798 13.8887L173.137 14.5928C185.606 21.2583 195.726 29.6903 201.804 35.5039C201.126 35.9233 200.337 36.165 199.495 36.165C189.945 36.165 179.898 34.5032 172.069 29.9062C163.964 25.1476 158.257 17.1936 158.257 5.49707C158.258 2.823 160.309 0.655273 162.839 0.655273Z" fill="%238FB53E"/><path d="M215.55 0.910156C225.137 0.910167 235.223 2.54817 243.084 7.0791C251.221 11.7695 256.95 19.6093 256.95 31.1379C256.95 32.161 256.638 33.108 256.109 33.885C249.918 28.0644 239.59 19.6034 226.833 12.9083L225.466 12.2018L225.373 12.1604C224.899 11.9769 224.352 12.172 224.113 12.6253C223.874 13.0785 224.029 13.6295 224.455 13.9026L224.544 13.9536L225.888 14.6476C238.406 21.2174 248.566 29.5284 254.668 35.2585C253.987 35.6719 253.196 35.9102 252.35 35.9102C242.762 35.9101 232.676 34.2721 224.816 29.7412C216.679 25.0508 210.95 17.211 210.95 5.68245C210.95 3.04676 213.009 0.910156 215.55 0.910156Z" fill="%238FB53E"/></svg>');
    background-repeat: no-repeat;
}

/* Управление шириной зеленых листиков */
.reviews__slide-stars[data-rating="1"]::after {
    width: 20%;
}

.reviews__slide-stars[data-rating="2"]::after {
    width: 40%;
}

.reviews__slide-stars[data-rating="3"]::after {
    width: 60%;
}

.reviews__slide-stars[data-rating="4"]::after {
    width: 80%;
}

.reviews__slide-stars[data-rating="5"]::after {
    width: 100%;
}

.reviews__gallery {}

.reviews__gallery .swiper {}

.reviews__gallery .swiper-slide {
    border-radius: 18px;
    overflow: hidden;
    aspect-ratio: 161 / 113;
}

.reviews__gallery .swiper-slide img {
    width: 100%;
    height: 100%;
}

.reviews__slide-mobile-title {
    font-weight: 700;
}

@media (max-width: 1581px) {
    .reviews__slide {
        padding: 30px 25px 28px;
    }

    .reviews__slide-stars {
        width: 230px;
        height: 37px;
    }

    .reviews__slide-stars::before {
        background-image: url('data:image/svg+xml;utf8,<svg width="230" height="37" viewBox="0 0 257 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.58203 0.655273C14.132 0.655284 24.1783 2.31714 32.0078 6.91406C40.1129 11.6727 45.8193 19.6267 45.8193 31.3232C45.8193 32.3613 45.5087 33.3221 44.9824 34.1104C38.8157 28.205 28.5278 19.6207 15.8213 12.8281L14.459 12.1113L14.3662 12.0693C13.8948 11.8832 13.3492 12.0811 13.1113 12.541C12.8738 13.0009 13.0279 13.5599 13.4521 13.8369L13.541 13.8887L14.8799 14.5928C27.3484 21.2583 37.4684 29.6903 43.5469 35.5039C42.8685 35.9233 42.0799 36.165 41.2373 36.165C31.6874 36.165 21.6412 34.5032 13.8115 29.9062C5.70662 25.1476 0 17.1936 0 5.49707C0.000246029 2.823 2.05167 0.655273 4.58203 0.655273Z" fill="%23A9A9A9"/><path d="M57.2742 0.655273C66.8241 0.655284 76.8705 2.31714 84.7 6.91406C92.805 11.6727 98.5115 19.6267 98.5115 31.3232C98.5114 32.3613 98.2008 33.3221 97.6746 34.1104C91.5078 28.205 81.22 19.6207 68.5134 12.8281L67.1511 12.1113L67.0583 12.0693C66.5869 11.8832 66.0413 12.0811 65.8035 12.541C65.566 13.0009 65.72 13.5599 66.1443 13.8369L66.2332 13.8887L67.572 14.5928C80.0405 21.2583 90.1606 29.6903 96.239 35.5039C95.5607 35.9233 94.772 36.165 93.9294 36.165C84.3795 36.165 74.3333 34.5032 66.5037 29.9062C58.3988 25.1476 52.6921 17.1936 52.6921 5.49707C52.6924 2.823 54.7438 0.655273 57.2742 0.655273Z" fill="%23A9A9A9"/><path d="M109.985 0.910156C119.572 0.910167 129.658 2.54817 137.519 7.0791C145.656 11.7695 151.385 19.6093 151.385 31.1379C151.384 32.161 151.073 33.108 150.544 33.885C144.353 28.0644 134.025 19.6034 121.268 12.9083L119.901 12.2018L119.807 12.1604C119.334 11.9769 118.786 12.172 118.548 12.6253C118.309 13.0785 118.464 13.6295 118.89 13.9026L118.979 13.9536L120.323 14.6476C132.841 21.2174 143.001 29.5284 149.103 35.2585C148.422 35.6719 147.63 35.9102 146.784 35.9102C137.197 35.9101 127.111 34.2721 119.251 29.7412C111.114 25.0508 105.385 17.211 105.385 5.68245C105.385 3.04676 107.444 0.910156 109.985 0.910156Z" fill="%23A9A9A9"/><path d="M162.839 0.655273C172.389 0.655284 182.436 2.31714 190.265 6.91406C198.37 11.6727 204.077 19.6267 204.077 31.3232C204.077 32.3613 203.766 33.3221 203.24 34.1104C197.073 28.205 186.785 19.6207 174.079 12.8281L172.716 12.1113L172.624 12.0693C172.152 11.8832 171.607 12.0811 171.369 12.541C171.131 13.0009 171.285 13.5599 171.709 13.8369L171.798 13.8887L173.137 14.5928C185.606 21.2583 195.726 29.6903 201.804 35.5039C201.126 35.9233 200.337 36.165 199.495 36.165C189.945 36.165 179.898 34.5032 172.069 29.9062C163.964 25.1476 158.257 17.1936 158.257 5.49707C158.258 2.823 160.309 0.655273 162.839 0.655273Z" fill="%23A9A9A9"/><path d="M215.55 0.910156C225.137 0.910167 235.223 2.54817 243.084 7.0791C251.221 11.7695 256.95 19.6093 256.95 31.1379C256.95 32.161 256.638 33.108 256.109 33.885C249.918 28.0644 239.59 19.6034 226.833 12.9083L225.466 12.2018L225.373 12.1604C224.899 11.9769 224.352 12.172 224.113 12.6253C223.874 13.0785 224.029 13.6295 224.455 13.9026L224.544 13.9536L225.888 14.6476C238.406 21.2174 248.566 29.5284 254.668 35.2585C253.987 35.6719 253.196 35.9102 252.35 35.9102C242.762 35.9101 232.676 34.2721 224.816 29.7412C216.679 25.0508 210.95 17.211 210.95 5.68245C210.95 3.04676 213.009 0.910156 215.55 0.910156Z" fill="%23A9A9A9"/></svg>');
    }

    .reviews__slide-stars::after {
        background-image: url('data:image/svg+xml;utf8,<svg width="230" height="37" viewBox="0 0 257 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.58203 0.655273C14.132 0.655284 24.1783 2.31714 32.0078 6.91406C40.1129 11.6727 45.8193 19.6267 45.8193 31.3232C45.8193 32.3613 45.5087 33.3221 44.9824 34.1104C38.8157 28.205 28.5278 19.6207 15.8213 12.8281L14.459 12.1113L14.3662 12.0693C13.8948 11.8832 13.3492 12.0811 13.1113 12.541C12.8738 13.0009 13.0279 13.5599 13.4521 13.8369L13.541 13.8887L14.8799 14.5928C27.3484 21.2583 37.4684 29.6903 43.5469 35.5039C42.8685 35.9233 42.0799 36.165 41.2373 36.165C31.6874 36.165 21.6412 34.5032 13.8115 29.9062C5.70662 25.1476 0 17.1936 0 5.49707C0.000246029 2.823 2.05167 0.655273 4.58203 0.655273Z" fill="%238FB53E"/><path d="M57.2742 0.655273C66.8241 0.655284 76.8705 2.31714 84.7 6.91406C92.805 11.6727 98.5115 19.6267 98.5115 31.3232C98.5114 32.3613 98.2008 33.3221 97.6746 34.1104C91.5078 28.205 81.22 19.6207 68.5134 12.8281L67.1511 12.1113L67.0583 12.0693C66.5869 11.8832 66.0413 12.0811 65.8035 12.541C65.566 13.0009 65.72 13.5599 66.1443 13.8369L66.2332 13.8887L67.572 14.5928C80.0405 21.2583 90.1606 29.6903 96.239 35.5039C95.5607 35.9233 94.772 36.165 93.9294 36.165C84.3795 36.165 74.3333 34.5032 66.5037 29.9062C58.3988 25.1476 52.6921 17.1936 52.6921 5.49707C52.6924 2.823 54.7438 0.655273 57.2742 0.655273Z" fill="%238FB53E"/><path d="M109.985 0.910156C119.572 0.910167 129.658 2.54817 137.519 7.0791C145.656 11.7695 151.385 19.6093 151.385 31.1379C151.384 32.161 151.073 33.108 150.544 33.885C144.353 28.0644 134.025 19.6034 121.268 12.9083L119.901 12.2018L119.807 12.1604C119.334 11.9769 118.786 12.172 118.548 12.6253C118.309 13.0785 118.464 13.6295 118.89 13.9026L118.979 13.9536L120.323 14.6476C132.841 21.2174 143.001 29.5284 149.103 35.2585C148.422 35.6719 147.63 35.9102 146.784 35.9102C137.197 35.9101 127.111 34.2721 119.251 29.7412C111.114 25.0508 105.385 17.211 105.385 5.68245C105.385 3.04676 107.444 0.910156 109.985 0.910156Z" fill="%238FB53E"/><path d="M162.839 0.655273C172.389 0.655284 182.436 2.31714 190.265 6.91406C198.37 11.6727 204.077 19.6267 204.077 31.3232C204.077 32.3613 203.766 33.3221 203.24 34.1104C197.073 28.205 186.785 19.6207 174.079 12.8281L172.716 12.1113L172.624 12.0693C172.152 11.8832 171.607 12.0811 171.369 12.541C171.131 13.0009 171.285 13.5599 171.709 13.8369L171.798 13.8887L173.137 14.5928C185.606 21.2583 195.726 29.6903 201.804 35.5039C201.126 35.9233 200.337 36.165 199.495 36.165C189.945 36.165 179.898 34.5032 172.069 29.9062C163.964 25.1476 158.257 17.1936 158.257 5.49707C158.258 2.823 160.309 0.655273 162.839 0.655273Z" fill="%238FB53E"/><path d="M215.55 0.910156C225.137 0.910167 235.223 2.54817 243.084 7.0791C251.221 11.7695 256.95 19.6093 256.95 31.1379C256.95 32.161 256.638 33.108 256.109 33.885C249.918 28.0644 239.59 19.6034 226.833 12.9083L225.466 12.2018L225.373 12.1604C224.899 11.9769 224.352 12.172 224.113 12.6253C223.874 13.0785 224.029 13.6295 224.455 13.9026L224.544 13.9536L225.888 14.6476C238.406 21.2174 248.566 29.5284 254.668 35.2585C253.987 35.6719 253.196 35.9102 252.35 35.9102C242.762 35.9101 232.676 34.2721 224.816 29.7412C216.679 25.0508 210.95 17.211 210.95 5.68245C210.95 3.04676 213.009 0.910156 215.55 0.910156Z" fill="%238FB53E"/></svg>');
    }
}

@media (max-width: 1320px) {
    .reviews__slider>.swiper {
        padding: 0px;
        margin-bottom: 40px;
    }

    .reviews__swiper>.swiper-wrapper {
        align-items: stretch;
    }

    .reviews__swiper>.swiper-wrapper>.swiper-slide {
        height: auto
    }

    .reviews__slide {
        height: 100%;
    }

    .reviews__slide-inner {
        height: 100%;
        justify-content: space-between;
    }

    .reviews__slide-desc {
        gap: 14px;
    }
}

@media (max-width: 992px) {
    .reviews__slider {
        padding-top: 20px;
    }

    .reviews__slide-body {
        gap: 35px;
        flex-direction: column;
    }

    .reviews__slide-avatar {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .reviews__slide-avatar-wrap-img {
        max-width: 150px;
    }

    .reviews__slide-ratimg {
        gap: 20px;
    }

    .reviews__slide-desc {
        width: 100%;
        max-width: 600px;
    }

    .reviews__slide-inner {
        gap: 35px;
    }

    .reviews__gallery .swiper-slide {
        aspect-ratio: 161 / 134;
    }
}

@media (max-width: 769px) {
    .reviews__title {
        width: 100%;
        text-align: center;
    }

    .reviews__slide {
        padding: 35px 40px 31px;
    }

    .reviews__slider>.swiper {
        margin-bottom: 35px;
    }


    .reviews__slide-avatar-wrap-img {
        max-width: 120px;
    }

    .reviews__gallery .swiper-slide {
        max-height: 130px;
    }
}

@media (max-width: 575px) {
    .reviews__slider {
        padding-top: 0px;
    }

    .reviews__slide-stars {
        width: 190px;
        height: 37px;
    }

    .reviews__slide-stars::before {
        background-image: url('data:image/svg+xml;utf8,<svg width="190" height="37" viewBox="0 0 257 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.58203 0.655273C14.132 0.655284 24.1783 2.31714 32.0078 6.91406C40.1129 11.6727 45.8193 19.6267 45.8193 31.3232C45.8193 32.3613 45.5087 33.3221 44.9824 34.1104C38.8157 28.205 28.5278 19.6207 15.8213 12.8281L14.459 12.1113L14.3662 12.0693C13.8948 11.8832 13.3492 12.0811 13.1113 12.541C12.8738 13.0009 13.0279 13.5599 13.4521 13.8369L13.541 13.8887L14.8799 14.5928C27.3484 21.2583 37.4684 29.6903 43.5469 35.5039C42.8685 35.9233 42.0799 36.165 41.2373 36.165C31.6874 36.165 21.6412 34.5032 13.8115 29.9062C5.70662 25.1476 0 17.1936 0 5.49707C0.000246029 2.823 2.05167 0.655273 4.58203 0.655273Z" fill="%23A9A9A9"/><path d="M57.2742 0.655273C66.8241 0.655284 76.8705 2.31714 84.7 6.91406C92.805 11.6727 98.5115 19.6267 98.5115 31.3232C98.5114 32.3613 98.2008 33.3221 97.6746 34.1104C91.5078 28.205 81.22 19.6207 68.5134 12.8281L67.1511 12.1113L67.0583 12.0693C66.5869 11.8832 66.0413 12.0811 65.8035 12.541C65.566 13.0009 65.72 13.5599 66.1443 13.8369L66.2332 13.8887L67.572 14.5928C80.0405 21.2583 90.1606 29.6903 96.239 35.5039C95.5607 35.9233 94.772 36.165 93.9294 36.165C84.3795 36.165 74.3333 34.5032 66.5037 29.9062C58.3988 25.1476 52.6921 17.1936 52.6921 5.49707C52.6924 2.823 54.7438 0.655273 57.2742 0.655273Z" fill="%23A9A9A9"/><path d="M109.985 0.910156C119.572 0.910167 129.658 2.54817 137.519 7.0791C145.656 11.7695 151.385 19.6093 151.385 31.1379C151.384 32.161 151.073 33.108 150.544 33.885C144.353 28.0644 134.025 19.6034 121.268 12.9083L119.901 12.2018L119.807 12.1604C119.334 11.9769 118.786 12.172 118.548 12.6253C118.309 13.0785 118.464 13.6295 118.89 13.9026L118.979 13.9536L120.323 14.6476C132.841 21.2174 143.001 29.5284 149.103 35.2585C148.422 35.6719 147.63 35.9102 146.784 35.9102C137.197 35.9101 127.111 34.2721 119.251 29.7412C111.114 25.0508 105.385 17.211 105.385 5.68245C105.385 3.04676 107.444 0.910156 109.985 0.910156Z" fill="%23A9A9A9"/><path d="M162.839 0.655273C172.389 0.655284 182.436 2.31714 190.265 6.91406C198.37 11.6727 204.077 19.6267 204.077 31.3232C204.077 32.3613 203.766 33.3221 203.24 34.1104C197.073 28.205 186.785 19.6207 174.079 12.8281L172.716 12.1113L172.624 12.0693C172.152 11.8832 171.607 12.0811 171.369 12.541C171.131 13.0009 171.285 13.5599 171.709 13.8369L171.798 13.8887L173.137 14.5928C185.606 21.2583 195.726 29.6903 201.804 35.5039C201.126 35.9233 200.337 36.165 199.495 36.165C189.945 36.165 179.898 34.5032 172.069 29.9062C163.964 25.1476 158.257 17.1936 158.257 5.49707C158.258 2.823 160.309 0.655273 162.839 0.655273Z" fill="%23A9A9A9"/><path d="M215.55 0.910156C225.137 0.910167 235.223 2.54817 243.084 7.0791C251.221 11.7695 256.95 19.6093 256.95 31.1379C256.95 32.161 256.638 33.108 256.109 33.885C249.918 28.0644 239.59 19.6034 226.833 12.9083L225.466 12.2018L225.373 12.1604C224.899 11.9769 224.352 12.172 224.113 12.6253C223.874 13.0785 224.029 13.6295 224.455 13.9026L224.544 13.9536L225.888 14.6476C238.406 21.2174 248.566 29.5284 254.668 35.2585C253.987 35.6719 253.196 35.9102 252.35 35.9102C242.762 35.9101 232.676 34.2721 224.816 29.7412C216.679 25.0508 210.95 17.211 210.95 5.68245C210.95 3.04676 213.009 0.910156 215.55 0.910156Z" fill="%23A9A9A9"/></svg>');
    }

    .reviews__slide-stars::after {
        background-image: url('data:image/svg+xml;utf8,<svg width="190" height="37" viewBox="0 0 257 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.58203 0.655273C14.132 0.655284 24.1783 2.31714 32.0078 6.91406C40.1129 11.6727 45.8193 19.6267 45.8193 31.3232C45.8193 32.3613 45.5087 33.3221 44.9824 34.1104C38.8157 28.205 28.5278 19.6207 15.8213 12.8281L14.459 12.1113L14.3662 12.0693C13.8948 11.8832 13.3492 12.0811 13.1113 12.541C12.8738 13.0009 13.0279 13.5599 13.4521 13.8369L13.541 13.8887L14.8799 14.5928C27.3484 21.2583 37.4684 29.6903 43.5469 35.5039C42.8685 35.9233 42.0799 36.165 41.2373 36.165C31.6874 36.165 21.6412 34.5032 13.8115 29.9062C5.70662 25.1476 0 17.1936 0 5.49707C0.000246029 2.823 2.05167 0.655273 4.58203 0.655273Z" fill="%238FB53E"/><path d="M57.2742 0.655273C66.8241 0.655284 76.8705 2.31714 84.7 6.91406C92.805 11.6727 98.5115 19.6267 98.5115 31.3232C98.5114 32.3613 98.2008 33.3221 97.6746 34.1104C91.5078 28.205 81.22 19.6207 68.5134 12.8281L67.1511 12.1113L67.0583 12.0693C66.5869 11.8832 66.0413 12.0811 65.8035 12.541C65.566 13.0009 65.72 13.5599 66.1443 13.8369L66.2332 13.8887L67.572 14.5928C80.0405 21.2583 90.1606 29.6903 96.239 35.5039C95.5607 35.9233 94.772 36.165 93.9294 36.165C84.3795 36.165 74.3333 34.5032 66.5037 29.9062C58.3988 25.1476 52.6921 17.1936 52.6921 5.49707C52.6924 2.823 54.7438 0.655273 57.2742 0.655273Z" fill="%238FB53E"/><path d="M109.985 0.910156C119.572 0.910167 129.658 2.54817 137.519 7.0791C145.656 11.7695 151.385 19.6093 151.385 31.1379C151.384 32.161 151.073 33.108 150.544 33.885C144.353 28.0644 134.025 19.6034 121.268 12.9083L119.901 12.2018L119.807 12.1604C119.334 11.9769 118.786 12.172 118.548 12.6253C118.309 13.0785 118.464 13.6295 118.89 13.9026L118.979 13.9536L120.323 14.6476C132.841 21.2174 143.001 29.5284 149.103 35.2585C148.422 35.6719 147.63 35.9102 146.784 35.9102C137.197 35.9101 127.111 34.2721 119.251 29.7412C111.114 25.0508 105.385 17.211 105.385 5.68245C105.385 3.04676 107.444 0.910156 109.985 0.910156Z" fill="%238FB53E"/><path d="M162.839 0.655273C172.389 0.655284 182.436 2.31714 190.265 6.91406C198.37 11.6727 204.077 19.6267 204.077 31.3232C204.077 32.3613 203.766 33.3221 203.24 34.1104C197.073 28.205 186.785 19.6207 174.079 12.8281L172.716 12.1113L172.624 12.0693C172.152 11.8832 171.607 12.0811 171.369 12.541C171.131 13.0009 171.285 13.5599 171.709 13.8369L171.798 13.8887L173.137 14.5928C185.606 21.2583 195.726 29.6903 201.804 35.5039C201.126 35.9233 200.337 36.165 199.495 36.165C189.945 36.165 179.898 34.5032 172.069 29.9062C163.964 25.1476 158.257 17.1936 158.257 5.49707C158.258 2.823 160.309 0.655273 162.839 0.655273Z" fill="%238FB53E"/><path d="M215.55 0.910156C225.137 0.910167 235.223 2.54817 243.084 7.0791C251.221 11.7695 256.95 19.6093 256.95 31.1379C256.95 32.161 256.638 33.108 256.109 33.885C249.918 28.0644 239.59 19.6034 226.833 12.9083L225.466 12.2018L225.373 12.1604C224.899 11.9769 224.352 12.172 224.113 12.6253C223.874 13.0785 224.029 13.6295 224.455 13.9026L224.544 13.9536L225.888 14.6476C238.406 21.2174 248.566 29.5284 254.668 35.2585C253.987 35.6719 253.196 35.9102 252.35 35.9102C242.762 35.9101 232.676 34.2721 224.816 29.7412C216.679 25.0508 210.95 17.211 210.95 5.68245C210.95 3.04676 213.009 0.910156 215.55 0.910156Z" fill="%238FB53E"/></svg>');
    }

    .reviews__slider>.swiper {
        margin-bottom: 30px;
    }


    .reviews__slide {
        padding: 30px 25px;
    }

    .reviews__slide-body {
        gap: 30px;
    }

    .reviews__slide-inner {
        gap: 30px;
    }

    .reviews__slide-avatar-wrap-img {
        max-width: 80px;
    }

    .reviews__gallery .swiper-slide {
        border-radius: 12px;
    }
}

@media (max-width: 420px) {
    .reviews__slide-stars {
        height: 26px;
    }

    .reviews__slide-stars::before {
        background-image: url('data:image/svg+xml;utf8,<svg width="190" height="26" viewBox="0 0 257 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.58203 0.655273C14.132 0.655284 24.1783 2.31714 32.0078 6.91406C40.1129 11.6727 45.8193 19.6267 45.8193 31.3232C45.8193 32.3613 45.5087 33.3221 44.9824 34.1104C38.8157 28.205 28.5278 19.6207 15.8213 12.8281L14.459 12.1113L14.3662 12.0693C13.8948 11.8832 13.3492 12.0811 13.1113 12.541C12.8738 13.0009 13.0279 13.5599 13.4521 13.8369L13.541 13.8887L14.8799 14.5928C27.3484 21.2583 37.4684 29.6903 43.5469 35.5039C42.8685 35.9233 42.0799 36.165 41.2373 36.165C31.6874 36.165 21.6412 34.5032 13.8115 29.9062C5.70662 25.1476 0 17.1936 0 5.49707C0.000246029 2.823 2.05167 0.655273 4.58203 0.655273Z" fill="%23A9A9A9"/><path d="M57.2742 0.655273C66.8241 0.655284 76.8705 2.31714 84.7 6.91406C92.805 11.6727 98.5115 19.6267 98.5115 31.3232C98.5114 32.3613 98.2008 33.3221 97.6746 34.1104C91.5078 28.205 81.22 19.6207 68.5134 12.8281L67.1511 12.1113L67.0583 12.0693C66.5869 11.8832 66.0413 12.0811 65.8035 12.541C65.566 13.0009 65.72 13.5599 66.1443 13.8369L66.2332 13.8887L67.572 14.5928C80.0405 21.2583 90.1606 29.6903 96.239 35.5039C95.5607 35.9233 94.772 36.165 93.9294 36.165C84.3795 36.165 74.3333 34.5032 66.5037 29.9062C58.3988 25.1476 52.6921 17.1936 52.6921 5.49707C52.6924 2.823 54.7438 0.655273 57.2742 0.655273Z" fill="%23A9A9A9"/><path d="M109.985 0.910156C119.572 0.910167 129.658 2.54817 137.519 7.0791C145.656 11.7695 151.385 19.6093 151.385 31.1379C151.384 32.161 151.073 33.108 150.544 33.885C144.353 28.0644 134.025 19.6034 121.268 12.9083L119.901 12.2018L119.807 12.1604C119.334 11.9769 118.786 12.172 118.548 12.6253C118.309 13.0785 118.464 13.6295 118.89 13.9026L118.979 13.9536L120.323 14.6476C132.841 21.2174 143.001 29.5284 149.103 35.2585C148.422 35.6719 147.63 35.9102 146.784 35.9102C137.197 35.9101 127.111 34.2721 119.251 29.7412C111.114 25.0508 105.385 17.211 105.385 5.68245C105.385 3.04676 107.444 0.910156 109.985 0.910156Z" fill="%23A9A9A9"/><path d="M162.839 0.655273C172.389 0.655284 182.436 2.31714 190.265 6.91406C198.37 11.6727 204.077 19.6267 204.077 31.3232C204.077 32.3613 203.766 33.3221 203.24 34.1104C197.073 28.205 186.785 19.6207 174.079 12.8281L172.716 12.1113L172.624 12.0693C172.152 11.8832 171.607 12.0811 171.369 12.541C171.131 13.0009 171.285 13.5599 171.709 13.8369L171.798 13.8887L173.137 14.5928C185.606 21.2583 195.726 29.6903 201.804 35.5039C201.126 35.9233 200.337 36.165 199.495 36.165C189.945 36.165 179.898 34.5032 172.069 29.9062C163.964 25.1476 158.257 17.1936 158.257 5.49707C158.258 2.823 160.309 0.655273 162.839 0.655273Z" fill="%23A9A9A9"/><path d="M215.55 0.910156C225.137 0.910167 235.223 2.54817 243.084 7.0791C251.221 11.7695 256.95 19.6093 256.95 31.1379C256.95 32.161 256.638 33.108 256.109 33.885C249.918 28.0644 239.59 19.6034 226.833 12.9083L225.466 12.2018L225.373 12.1604C224.899 11.9769 224.352 12.172 224.113 12.6253C223.874 13.0785 224.029 13.6295 224.455 13.9026L224.544 13.9536L225.888 14.6476C238.406 21.2174 248.566 29.5284 254.668 35.2585C253.987 35.6719 253.196 35.9102 252.35 35.9102C242.762 35.9101 232.676 34.2721 224.816 29.7412C216.679 25.0508 210.95 17.211 210.95 5.68245C210.95 3.04676 213.009 0.910156 215.55 0.910156Z" fill="%23A9A9A9"/></svg>');
    }

    .reviews__slide-stars::after {
        background-image: url('data:image/svg+xml;utf8,<svg width="190" height="26" viewBox="0 0 257 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.58203 0.655273C14.132 0.655284 24.1783 2.31714 32.0078 6.91406C40.1129 11.6727 45.8193 19.6267 45.8193 31.3232C45.8193 32.3613 45.5087 33.3221 44.9824 34.1104C38.8157 28.205 28.5278 19.6207 15.8213 12.8281L14.459 12.1113L14.3662 12.0693C13.8948 11.8832 13.3492 12.0811 13.1113 12.541C12.8738 13.0009 13.0279 13.5599 13.4521 13.8369L13.541 13.8887L14.8799 14.5928C27.3484 21.2583 37.4684 29.6903 43.5469 35.5039C42.8685 35.9233 42.0799 36.165 41.2373 36.165C31.6874 36.165 21.6412 34.5032 13.8115 29.9062C5.70662 25.1476 0 17.1936 0 5.49707C0.000246029 2.823 2.05167 0.655273 4.58203 0.655273Z" fill="%238FB53E"/><path d="M57.2742 0.655273C66.8241 0.655284 76.8705 2.31714 84.7 6.91406C92.805 11.6727 98.5115 19.6267 98.5115 31.3232C98.5114 32.3613 98.2008 33.3221 97.6746 34.1104C91.5078 28.205 81.22 19.6207 68.5134 12.8281L67.1511 12.1113L67.0583 12.0693C66.5869 11.8832 66.0413 12.0811 65.8035 12.541C65.566 13.0009 65.72 13.5599 66.1443 13.8369L66.2332 13.8887L67.572 14.5928C80.0405 21.2583 90.1606 29.6903 96.239 35.5039C95.5607 35.9233 94.772 36.165 93.9294 36.165C84.3795 36.165 74.3333 34.5032 66.5037 29.9062C58.3988 25.1476 52.6921 17.1936 52.6921 5.49707C52.6924 2.823 54.7438 0.655273 57.2742 0.655273Z" fill="%238FB53E"/><path d="M109.985 0.910156C119.572 0.910167 129.658 2.54817 137.519 7.0791C145.656 11.7695 151.385 19.6093 151.385 31.1379C151.384 32.161 151.073 33.108 150.544 33.885C144.353 28.0644 134.025 19.6034 121.268 12.9083L119.901 12.2018L119.807 12.1604C119.334 11.9769 118.786 12.172 118.548 12.6253C118.309 13.0785 118.464 13.6295 118.89 13.9026L118.979 13.9536L120.323 14.6476C132.841 21.2174 143.001 29.5284 149.103 35.2585C148.422 35.6719 147.63 35.9102 146.784 35.9102C137.197 35.9101 127.111 34.2721 119.251 29.7412C111.114 25.0508 105.385 17.211 105.385 5.68245C105.385 3.04676 107.444 0.910156 109.985 0.910156Z" fill="%238FB53E"/><path d="M162.839 0.655273C172.389 0.655284 182.436 2.31714 190.265 6.91406C198.37 11.6727 204.077 19.6267 204.077 31.3232C204.077 32.3613 203.766 33.3221 203.24 34.1104C197.073 28.205 186.785 19.6207 174.079 12.8281L172.716 12.1113L172.624 12.0693C172.152 11.8832 171.607 12.0811 171.369 12.541C171.131 13.0009 171.285 13.5599 171.709 13.8369L171.798 13.8887L173.137 14.5928C185.606 21.2583 195.726 29.6903 201.804 35.5039C201.126 35.9233 200.337 36.165 199.495 36.165C189.945 36.165 179.898 34.5032 172.069 29.9062C163.964 25.1476 158.257 17.1936 158.257 5.49707C158.258 2.823 160.309 0.655273 162.839 0.655273Z" fill="%238FB53E"/><path d="M215.55 0.910156C225.137 0.910167 235.223 2.54817 243.084 7.0791C251.221 11.7695 256.95 19.6093 256.95 31.1379C256.95 32.161 256.638 33.108 256.109 33.885C249.918 28.0644 239.59 19.6034 226.833 12.9083L225.466 12.2018L225.373 12.1604C224.899 11.9769 224.352 12.172 224.113 12.6253C223.874 13.0785 224.029 13.6295 224.455 13.9026L224.544 13.9536L225.888 14.6476C238.406 21.2174 248.566 29.5284 254.668 35.2585C253.987 35.6719 253.196 35.9102 252.35 35.9102C242.762 35.9101 232.676 34.2721 224.816 29.7412C216.679 25.0508 210.95 17.211 210.95 5.68245C210.95 3.04676 213.009 0.910156 215.55 0.910156Z" fill="%238FB53E"/></svg>');
    }


    .reviews__slide-avatar-wrap-img {
        max-width: 60px;
    }

    .reviews__gallery .swiper-slide {
        aspect-ratio: 67 / 66;
        height: 67px;
    }
}