.my-accordion {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.my-accordion__item {
    padding: 36px 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.my-accordion-header {
    cursor: pointer;
    padding-right: 40px;
    position: relative;
}

.my-accordion-header .h3 {
    line-height: 1.2;
}

.my-accordion-header::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 11.0518L10.25 2.25446L19 11.0518' stroke='%238FB53E' stroke-width='2.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.my-accordion-header.active::after {
    transform: translateY(-50%) rotate(0deg);
}

.my-accordion-header.active+.my-accordion-content {
    margin-bottom: 26px;
}

.my-accordion-header span {
    display: block;
    max-width: 1276px;
}

.my-accordion-content {
    line-height: 140%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.my-accordion-header span {
    display: block;
    max-width: 1276px;
}

.my-accordion-content p {
    max-width: 1276px;
}

@media (max-width: 1581px) {
    .my-accordion-header span {
        display: block;
        max-width: 1075px;
    }

    .my-accordion-content p {
        max-width: 1075px;
    }
}

@media (max-width: 1321px) {
    .my-accordion-header {
        padding-right: 60px;
    }

    .my-accordion-content {
        padding-right: 50px;
    }

    .my-accordion-header.active+.my-accordion-content {
        margin-bottom: 21px;
    }

    .my-accordion__item {
        padding: 31px 30px 10px;
        gap: 21px;
    }
}

@media (max-width: 992px) {}

@media (max-width: 769px) {
    .my-accordion {
        gap: 15px;
    }

    .my-accordion-header::after {
        top: 7px;
    }

    .my-accordion__item {
        padding: 25px 20px 10px;
        gap: 15px;
    }

    .my-accordion-header.active+.my-accordion-content {
        margin-bottom: 15px;
    }
}

@media (max-width: 575px) {
    .my-accordion-header {
        padding-right: 27px;
    }

    .my-accordion-content {
        padding-right: 18px;
    }
}

@media (max-width: 420px) {
    .my-accordion {
        gap: 10px;
    }

    .my-accordion__item {
        padding: 21px 17px 10px;
        gap: 11px;
        margin-bottom: 11px;
    }

    .my-accordion-header {
        transition: margin-bottom 0.3s ease;
    }

    .my-accordion__item.open .my-accordion-header {
        margin-bottom: 36px;
    }

    .my-accordion-header.active+.my-accordion-content {
        margin-bottom: 11px;
    }
}